<% provide(:title, "CSC178") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Class</h1>
    <p>
      This page has a title of "CSC178" just like the exam said to do.
    </p>
  </body>
</html>