<% provide(:title, "Brett Napier") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Me</h1>
    <p>
      This page has a title of "Brett Napier" just like the exam said to do.
    </p>
  </body>
</html>