<% provide(:title, "8 questions") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Exam</h1>
    <p>
      This page has a title of "8 questions" just like the exam said to do.
    </p>
  </body>
</html>